
<h2>Waivers</h2>

<h3>amd64</h3>
<h4 id="amd64-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support amd64 as-is.</p>

<h3>armel</h3>
<h4 id="armel-buildds">Buildds</h4>
<p>All buildds except one (ancina) are at the same location. Machine redundancy is sufficient.</p>

<h3>i386</h3>
<h4 id="i386-porters">Porters</h4>
<p>Our toolchain maintainers are happy to support i386 as-is.</p>

<h3>kfreebsd</h3>
<h4 id="kfreebsd-upstream">Upstream Support</h4>
<p>Kernel has obviously a large community which supports it.  gcc has upstream
  support, the kfreebsd-specific part is only a few hundred lines long.  glibc
  is done by us (mostly Petr Salinger).</p>

<h3>s390</h3>
<h4 id="s390-upstream">Upstream Support</h4>
<p>Upstream support for the 31bit port is phased out and much less tested
  than s390x.  If s390x is included, this will be the last release with
  s390 and it should then be waived.</p>

<h3>sparc</h3>
<h4 id="sparc-upstream">Upstream Support</h4>
<p>According to the gcc maintainer 32bit code generation as we use it is no
  longer supported upstream and we should aim for a switch to 64bit userland
  anytime soon.</p>
</div>
</body>
</html>

